
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shered style */

.flex{
    display: flex;
}

.secondery-bg{
    background-color: #FFF8F3;
}

.text-primery{
    color:#FD6E0A ;
}
.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}
.section-title{
    font-size: 35px;
    color:#181818 ;
    font-weight: bold;
}

.btn-primery{
background-color: #FD6E0A;
font-weight: bold;
font-size: 20px;
color: white;
border: none;
padding: 15px 32px;
border-radius: 5px;
}

/* header */
.header{
background-image: url(../images/developer.png),  url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left,bottom right;
/* height: 0, 300px;
width: 0, 600px; */
}

/* Nav bar style  */
nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    margin: 0px 35px 0px 230px; 
}

.nav-title{
     font-weight:800;
    font-size: 45px;
    color: #181818;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* Banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px; 
}

.heardy-image{
    /* height: 350px;
    width: 300px; */
}

.banner-content{
    height: 300px;
    width: 500px;

}
.banner-greetings{
    font-size: 30px;
    font-weight: 600;
}
.banner-title{
    font-size: 70px;
    font-weight: 800;
}
.description-property{
font-size: 18px;
}

/* Main Style */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Styles */

.about{
padding: 130px 150px;
border-radius: 10px;
text-align: center;
margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* experience intro */
.exp-intro{
    margin-top: 50px;
    text-align: center;
    
}
 /* Skills intro */
 .marry-skills{
    
 }

 .skill{
    margin-top: 40px;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1) ;
    padding: 30px;
    width: 200px;
    gap: 15px;
    justify-content: space-between;
 }

 /* A Summery Of Resumy Styles */

 .resume-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color:rgba(24, 24, 24, 1) ;
 }